extends layout 

block content
    h1(class="main-header") #{title}
    hr(style='width:100%;')
    if order
        div(class='delete-container')
            h2 Are you sure you want to delete this category?
            h4 #[strong Order ID:] #{order._id}
            h4 #[strong Order Company Name:] #{order.company}
            h4 #[strong Order Status:] #{order.status}
            h4 #[strong Order Item:] #{order.order[0].item.name}
            form(class='decision-container' method='POST' action='')
                input(type='submit' value='Yes')
                input(type='submit' value='No' formaction=`/order/${order._id}`)
    else
        h2 Order Not Found